# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.db
*.db-shm
*.recipe
*.ipch
*.log
*.ipdb
*.tlog
*.opendb
*.pdb
*.iobj
*.db-wal
.vs/SDK/v17/.suo
*.map
